{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="0jcis"/>
    <meta
      name="description"
      content="A handy tool to calculate faction war pay in torn.com"/>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'global-v2.css' %}">
    <script src="{% static 'tracking/tracking-v2.js' %}"></script>

    <title>Hit$um - War Pay Calculated Automatically!</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <main>
      <article>
        <h1>Control Panel</h1>
        <h2>{{ faction.name }}</h2>
        <section class="in-2-columns">
          <label for="pay-per-war-attack">Pay per war attack</label>
          <input class="input-home money" type="text" id="pay-per-war-attack" value="0"/>
          <label for="pay-per-assist">Pay per assist</label>
          <input class="input-home money" type="text" id="pay-per-assist" value="0"/>
          <label for="pay-per-chain-attack">Pay per chain attack</label>
          <input class="input-home money" type="text" id="pay-per-chain-attack" value="0"/>
          <label for="penalty-per-loss">Penalty per loss</label>
          <input class="input-home money" type="text" id="penalty-per-loss" value="-0"/>
          <label><input type="button" value="Copy URL with Pay Rates" onclick="copyUrlWithParams()" class="button-1" id="copy-url-button"/></label>
          <p>Total war payout: <span class="money" id="total-payout"></span></p>
        </section>
      </article>
      <article>
        <h1>Summary</h1>
        <h2>
          Attack count and pay for all members summarized
        </h2>
        <section>
          <table class="table-sortable">
            <thead>
            <tr>
              <th>Member</th>
              <th>War Attacks</th>
              <th>Assists</th>
              <th>Chain Attacks</th>
              <th>Losses</th>
              <th>War Attack Pay</th>
              <th>Assist Pay</th>
              <th>Chain Attack Pay</th>
              <th>Penalty For Losses</th>
              <th>Final Pay</th>
            </tr>
            </thead>
            <tbody>
            {% for member_id, member in members.items %}
              <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.war_hits }}</td>
                <td>{{ member.assists }}</td>
                <td>{{ member.outside_chain_hits }}</td>
                <td>{{ member.losses }}</td>
                <td><span class="money">0</span></td>
                <td><span class="money">0</span></td>
                <td><span class="money">0</span></td>
                <td><span class="money">0</span></td>
                <td><span class="money">0</span></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </section>
      </article>
      <article>
        <h1>Chains</h1>
        <section>
          <ul class="ul-tracking">
            {% for chain_id, chain in chains.items %}
              <li class="style-1">
                <h3>
                  <time datetime="{{ chain.end.1 }}">{{ chain.end.0 }}</time>
                </h3>
                <p><strong>Length:</strong> {{ chain.last_bonus }}</p>
                <p><strong>Respect From Bonuses:</strong> {{ chain.all_bonus_respect }}</p>
                <p><strong>Outside Chain Attacks:</strong></p>
                <ul>
                  {% for attack_id, attack in chain.attacks.items %}
                    <li>#{{ attack.chain_length }} {{ attack.attacker_name }} attacked {{ attack.defender_name }}</li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </section>
      </article>
      <article>
        <h1>Attacks</h1>
        <div class="horizontal-content">
          <nav id="button-container">
            {% for member_id, member in members.items %}
              <button class="button-1" onclick="showFunction('{{ member.user_id }}', this)">{{ member.name }}</button>
            {% endfor %}
          </nav>
          {% for member_id, member in members.items %}
            <section class="hide" id="{{ member.user_id }}">
              <div class="horizontal-content">
                <text class="war-attack">War attack</text>
                <text class="assist">Assist</text>
                <text class="chain-attack">Chain attack</text>
                <text class="loss-attack">Loss</text>
              </div>
              <ul class="ul-tracking">
                {% for attack_id, attack in member.attacks.items %}
                  {% if attack.attacker_id == member.user_id %}
                    {% if attack.attacker_war_result == "War" %}
                      <li class="war-attack">
                        <time datetime="{{ attack.timestamp_ended.1 }}">{{ attack.timestamp_ended.0 }}</time>
                        {{ member.name }} {{ attack.result }} {{ attack.defender_name }}
                      </li>
                    {% elif attack.attacker_war_result == "Assist" %}
                      <li class="assist">
                        <time datetime="{{ attack.timestamp_ended.1 }}">{{ attack.timestamp_ended.0 }}</time>
                        {{ member.name }} Assisted in attacking {{ attack.defender_name }}
                      </li>
                    {% elif attack.attacker_war_result == "Chain" %}
                      <li class="chain-attack">
                        <time datetime="{{ attack.timestamp_ended.1 }}">{{ attack.timestamp_ended.0 }}</time>
                        {{ member.name }} {{ attack.result }} {{ attack.defender_name }}
                      </li>
                    {% else %}
                      <li class="regular-attack">
                        <time datetime="{{ attack.timestamp_ended.1 }}">{{ attack.timestamp_ended.0 }}</time>
                        {{ attack.attacker_name|default:"Someone" }} {{ attack.result }} {{ attack.defender_name }}
                      </li>
                    {% endif %}
                  {% elif attack.defender_war_result == "Loss" %}
                    <li class="loss-attack">
                      <time datetime="{{ attack.timestamp_ended.1 }}">{{ attack.timestamp_ended.0 }}</time>
                      {{ attack.attacker_name|default:"Someone" }} {{ attack.result }} {{ attack.defender_name }}
                    </li>
                  {% else %}
                    <li class="regular-attack">
                      <time datetime="{{ attack.timestamp_ended.1 }}">{{ attack.timestamp_ended.0 }}</time>
                      {{ attack.attacker_name|default:"Someone" }} {{ attack.result }} {{ attack.defender_name }}
                    </li>
                  {% endif %}

                {% endfor %}
              </ul>
            </section>
          {% endfor %}
        </div>
      </article>
    </main>
  </body>
</html>
