{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="0jcis"/>
    <meta
      name="description"
      content="A handy tool to calculate faction war pay in torn.com"/>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <script src="{% static 'tracking/tracking.js' %}"></script>

    <title>Hit$um - War Pay Calculated Automatically!</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <main>
      <article>
        <h1>Pay Rates</h1>
        <h2>{{ faction.name }}</h2>
        <section class="in-2-columns">
          <p>Pay per war attack: </p>
          <p><span class="money">{{ instance.pay_p_hit }}</span>$</p>
          <p>Pay per outside chain attack: </p>
          <p><span class="money">{{ instance.pay_p_outside_hit }}</span>$</p>
          <p>Penalty per loss: </p>
          <p><span class="money">{{ instance.penalty_p_loss }}</span>$</p>
        </section>
        <section>
          <input type="button" value="Copy Url" onclick="navigator.clipboard.writeText(window.location.href);" class="button-1"/>
        </section>
      </article>
      <article>
        <h1>Summary</h1>
        <h2>
          War attack count, score and pay for all members summarized
        </h2>
        <section>
          <table>
            <thead>
            <tr>
              <th></th>
              <th>Attacks</th>
              <th>Score</th>
              <th>Pay</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th>
                <table>
                  <colgroup>
                    <col class="col-grey"/>
                  </colgroup>
                  <thead>
                  <tr>
                    <th>Member</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for member_id, member in members.items %}
                    <tr>
                      <td>{{ member.name }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </th>
              <th>
                <table>
                  <colgroup>
                    <col/>
                    <col class="col-grey"/>
                    <col/>
                  </colgroup>
                  <thead>
                  <tr>
                    <th>War Attacks</th>
                    <th>Chain Attacks</th>
                    <th>Losses</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for member_id, member in members.items %}
                    <tr>
                      <td>{{ member.war_hits }}</td>
                      <td>{{ member.outside_chain_hits }}</td>
                      <td>{{ member.losses }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </th>
              <th>
                <table>
                  <colgroup>
                    <col class="col-grey"/>
                    <col/>
                    <col class="col-grey"/>
                    <col/>
                  </colgroup>
                  <thead>
                  <tr>
                    <th>War Attack Score</th>
                    <th>Chain Attack Score</th>
                    <th>Score lost</th>
                    <th>Score Sum</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for member_id, member in members.items %}
                    <tr>
                      <td>{{ member.score_war_attacks }}</td>
                      <td>{{ member.score_chain_attacks }}</td>
                      <td>{{ member.score_losses }}</td>
                      <td>{{ member.score_sum }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </th>
              <th>
                <table>
                  <colgroup>
                    <col class="col-grey"/>
                    <col/>
                    <col class="col-grey"/>
                    <col/>
                  </colgroup>
                  <thead>
                  <tr>
                    <th>War Attack Pay</th>
                    <th>Chain Attack Pay</th>
                    <th>Penalty For Losses</th>
                    <th>Final Pay</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for member_id, member in members.items %}
                    <tr>
                      <td><span class="money">{{ member.war_attack_pay }}</span>$</td>
                      <td><span class="money">{{ member.chain_attack_pay }}</span>$</td>
                      <td><span class="money">{{ member.loss_penalty }}</span>$</td>
                      <td><span class="money">{{ member.final_pay }}</span>$</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </th>
            </tr>
            </tbody>
          </table>
        </section>
      </article>
      <article>
        <h1>Chains</h1>
        <section>
          <ul class="ul-tracking">
            {% for chain_id, chain in chains.items %}
              <li class="style-1">
                <h3>
                  <time datetime="{{ chain.end.1 }}">{{ chain.end.0 }}</time>
                </h3>
                <p><strong>Length:</strong> {{ chain.last_bonus }}</p>
                <p><strong>Respect From Bonuses:</strong> {{ chain.all_bonus_respect }}</p>
                <p><strong>Outside Chain Attacks:</strong></p>
                <ul>
                  {% for attack_id, attack in chain.attacks.items %}
                    <li>{{ attack.chain_length }} {{ attack.attacker_name }} attacked {{ attack.defender_name }}</li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </section>
      </article>
      <article>
        <h1>Attacks</h1>
        <div class="horizontal-content">
          <nav id="button-container">
            {% for member_id, member in members.items %}
              <button class="button-1" onclick="showFunction('{{ member.user_id }}', this)">{{ member.name }}</button>
            {% endfor %}
          </nav>
          {% for member_id, member in members.items %}
            <section class="hide" id="{{ member.user_id }}">
              <div class="horizontal-content">
                <text class="war-attack">War attack</text>
                <text class="chain-attack">Chain attack</text>
                <text class="loss-attack">Loss</text>
              </div>
              <ul class="ul-tracking">
                {% for attack_id, attack in member.attacks.items %}
                  {% if attack.attacker_id == member.user_id %}
                    {% if attack.attacker_war_result == "War" %}
                      <li class="war-attack">
                        <time datetime="{{ attack.timestamp_ended.1 }}">{{ attack.timestamp_ended.0 }}</time>
                        {{ attack.attacker_name|default:"Someone" }} {{ attack.result }} {{ attack.defender_name }}
                      </li>
                    {% elif attack.attacker_war_result == "Chain" %}
                      <li class="chain-attack">
                        <time datetime="{{ attack.timestamp_ended.1 }}">{{ attack.timestamp_ended.0 }}</time>
                        {{ attack.attacker_name|default:"Someone" }} {{ attack.result }} {{ attack.defender_name }}
                      </li>
                    {% else %}
                      <li class="regular-attack">
                        <time datetime="{{ attack.timestamp_ended.1 }}">{{ attack.timestamp_ended.0 }}</time>
                        {{ attack.attacker_name|default:"Someone" }} {{ attack.result }} {{ attack.defender_name }}
                      </li>
                    {% endif %}
                  {% elif attack.defender_war_result == "Loss" %}
                    <li class="loss-attack">
                      <time datetime="{{ attack.timestamp_ended.1 }}">{{ attack.timestamp_ended.0 }}</time>
                      {{ attack.attacker_name|default:"Someone" }} {{ attack.result }} {{ attack.defender_name }}
                    </li>
                  {% else %}
                    <li class="regular-attack">
                      <time datetime="{{ attack.timestamp_ended.1 }}">{{ attack.timestamp_ended.0 }}</time>
                      {{ attack.attacker_name|default:"Someone" }} {{ attack.result }} {{ attack.defender_name }}
                    </li>
                  {% endif %}

                {% endfor %}
              </ul>
            </section>
          {% endfor %}
        </div>
      </article>
    </main>
  </body>
</html>
